body {
    background-image:url(../images/background.png);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-size: 25px;
    overflow-y: scroll;
    font-family: "Andada Pro", serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 148, 0);
  position: relative;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 10000;
  overflow-y: hidden;
}
ul .name {
    text-align: left;
    padding: 5px;
    display: inline;
    position: relative;
    top: 0px;
    left: 30px;
    font-size: 60px;
    text-decoration: none;
    color: white;
    font-family: "Almendra SC", serif;
}
ul .undername {
    display: inline;
    position: relative;
    left: 20px;
    text-align: left;
    font-family: "Andada Pro", serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
li {
    display: inline;
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(160, 160, 160);
}
li a:active {
    color: orange;
}
.active {
    background-color: rgb(216, 130, 0);
}
h1 {
    position: relative;
    top: 50px;
    text-align: center;
}
.h2 {
    position: relative;
    top: 150px;
    text-align: center;
}
.h1_2 {
    position: relative;
    top: 170px;
}
.h1_3 {
    position: relative;
    top: 270px;
}
#random {
    font-size: 30px;
    color: #f39200;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.blur1 {
    background-color: rgba(0, 0, 0, 0.618) ;
    text-align: center;
    max-width: 1500px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    padding: 20px;
}
.blur2 {
    background-color: rgba(0, 0, 0, 0.618) ;
    text-align: center;
    max-width: 1500px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 220px;
    padding: 20px;
}
.blur3 {
    background-color: rgba(0, 0, 0, 0.618) ;
    max-width: 1500px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    padding: 20px;
}
.blur4 {
    background-color: rgba(0, 0, 0, 0.618) ;
    max-width: 1500px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    padding: 20px;
    text-align: center;
}
.blur5 {
    background-color: rgba(0, 0, 0, 0.618) ;
    max-width: 1500px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 150px;
    padding: 20px;
    text-align: center;
}
.blur6 {
    background-color: rgba(0, 0, 0, 0.618) ;
    max-width: 1500px;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 200px;
    padding: 20px;
    text-align: center;
}
.info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 100px;
}
.info1 {
    flex: 0 1 800px;
    min-width: 250px;
    text-align: center;
}
img {
    max-width: 300px;
}
.navrh {
    max-width: 705px;
}
.forged {
    max-width: 357px;
}
.claymore {
    position: relative;
    top: -40px;
}
.mail {
    color: white;
    text-decoration: none;
}
.blur_tab1, .blur_tab2, .blur_tab3, .blur_tab4, .blur_tab5, .blur_tab6 {
    max-width: 1500px;
    background-color: rgba(0, 0, 0, 0.6188) ;
    text-align: left;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sword {
    max-width: 1300px;
    width: 100%;
}
.blur_tab1 {
    top: 100px;
}
.blur_tab2 {
    top: 150px;
}
.blur_tab3 {
    top: 200px;
}
.blur_tab4 {
    top: 250px;
}
.blur_tab5 {
    top: 300px;
}
.blur_tab6 {
    top: 350px;
}
table {
    max-width: 1300px;
    width: 100%;
    font-size: 30px;
    border: 4px double;
    border-spacing: 5px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 1px solid;
    padding: 10px;
}
tr {
    text-align: center;
}

